source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget FSharp.Core

nuget Newtonsoft.Json

nuget Microsoft.AspNetCore.TestHost

nuget FsUnit
nuget NUnit
nuget NUnit3TestAdapter

nuget Microsoft.NET.Test.Sdk
